# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.pyc

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Configuración local de VS Code
.vscode/

# Variables de entorno
.env

# Archivos temporales de Word
~$*.docx

# Archivos temporales de Microsoft Office
~$*
~WRL*.tmp
*.tmp